/* Transition MOBILE TO TABLET */

@media screen and (min-width: 400px) and (max-width: 700px) {
  .button {
    width: 16em; 
  }
  p#content-2 {
    padding-right: 3em;
  }
  h1 {
    padding-right: 0em;
  }

  a#create-gifo {
    display: none;
  }
  
}

/* TABLET */

@media screen and (min-width: 701px) and (max-width: 1000px) {

  .header {
    display: flex;
    display: -webkit-box;
    display: -moz-box;      
    display: -ms-flexbox;
    display: -webkit-flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    justify-content: space-between;
    -webkit-justify-content: space-between; 
  }

  .mobile-menu .show-menu {
    display: none; 
  }

  .mobile-menu input[type=checkbox]:checked ~ #menu {
    display: flex;
    display: -webkit-box;
    display: -moz-box;      
    display: -ms-flexbox;
    display: -webkit-flex;
    justify-content: flex-end;
    -webkit-justify-content: flex-end;
    padding-right: 1em; 
  }

  .mobile-menu {
    max-width: 100%;
    padding-top: 1.1em; 
    font-size: 0.85em;
    text-transform: uppercase;
  }
  .mobile-menu ul {
    background: rgba(255,255,255,0);
    height: 0em;
    display: flex;
    display: -webkit-box;
    display: -moz-box;      
    display: -ms-flexbox;
    display: -webkit-flex;
    justify-content: flex-end;
    -webkit-justify-content: flex-end;
    padding-right: 3em;
    padding-top: 0em;
    position: absolute; 
  }
  .mobile-menu li {
    display: inline-block; 
  }

  .mobile-menu a {
    padding: 0.7em 2em 0 1.5em;
    color: #572EE5; 
  }

  .mobile-menu li:hover a {
    color: #5ED7C6;
  }

  .mobile-menu li:active a {
    color: #9CAFC3; 
  }

  .l-line {
    display: none;
  }

  a#create-gifo {
    display: none;
  }

  .section {
    width: 100%;
    flex-flow: row wrap;
    -webkit-flex-flow: row wrap; 
  }

  .logo {
    width: 3.6em;
    height: 3.4em;
    font-size: 1.1em;
    margin: 1.12em 0 0.5em 1.3em; 
    padding: 1.4em 0 0 0.7em;
  }

  .hello {
    padding-top: 5em;
    padding-left: 1.3em; 
  }
  
  .button {
    width: 16em; 
  }

  h1 {
    font-size: 2.2em;
    padding: 0 0.1em 0 0; 
  }

  h1#tablet {  
    display: block;
  }
  
  h1#mobile {  
    display: none;

  }
  h2 {
    font-size: 1.6em;
    padding: 0 0.1em 0 0;
  }

  h3 {
    font-size: 1.1em;
    line-height: 2em;
  }

  h4 {
    font-size: 0.9em;
    letter-spacing: 0.05em;
    line-height: 1.8em; 
    padding-top: 0.25em; 
  }

  p {
    font-size: 1.125em;
    line-height: 1.8em;
    margin: 1em 0.3em 0 0; 
  }

  div#ilustration-header { 
    height: 12em;
  }
  
  div#ilustration-header img {
    width: 25em;
  }
   
  .bg--grey {
    margin-top: 3em;
    padding: 4.1em 0 2em 0;
  }

  /* BUSCADOR */
  .search--wrapper {
    max-width: 34.5em;
  }

  .button__more {
    margin: 5em auto 3em auto;
  }

  /* GALLERY */

  .gallery {
    margin: 2.5em 0 1em 0; 
  }  

  .carousel {
    width: 80%;
    height: 11.5em;
    margin: auto;
    margin-top: 2.5em;
}

  .carousel__track {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
    height: 100%;
    transition: transform 250ms ease-in;
}
  .carousel__nav {
    display: flex;
    justify-content: center;
    padding: 0.8em 0;
  }

/* END OF GALLERY */

/* BUSQUEDA IMAGENES */

  .grid__image {
    max-width: 33%;
    height: 170px;
    padding: 0.8em 0.6em 0.8em 0.6em;
    margin-bottom: 1.1em;
    cursor: pointer;
  }

  .grid__image #image {
    height: 170px;
  }

  .mygifos {
    height: 170px;
  }

  .grid__image .overlay {
    height: 170px;
    transform: translateY(-170px);
    top: -5px;
  }

  /* END OF IMAGENES */

  .footer {
    margin: 2.5em auto 0 auto; 
    padding: 0 1.3em 3em 1.3em;
  }
  
  .footer-social-icons {
    display: flex;
    display: -webkit-box;
    display: -moz-box;      
    display: -ms-flexbox;
    display: -webkit-flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    -webkit-align-items: center;
    max-width: 70em;
    margin: 0 auto 0 auto; 
  }  
  .social-icons {
    width: 5.5em;
    justify-content: space-between;
    align-content: center;
    margin: 0 auto 0 1.1em;
  }
}

/* DESKTOP */
@media screen and (min-width: 1001px) {

  .header {
    display: flex;
    display: -webkit-box;
    display: -moz-box;      
    display: -ms-flexbox;
    display: -webkit-flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    margin: 0 auto 0 auto;
    padding: 0 5% 0 5%; 
  }

  .search--wrapper-nav {
    display: block;
  }

  .mobile-menu .show-menu {
    display: none; 
  }

  .mobile-menu input[type=checkbox]:checked ~ #menu {
    display: flex;
    display: -webkit-box;
    display: -moz-box;      
    display: -ms-flexbox;
    display: -webkit-flex;
    justify-content: flex-end;
    -webkit-justify-content: flex-end;
    padding-right: 1em; 
  }

  .mobile-menu {
    max-width: 95vw;
    padding-top: 1.6em; 
    text-transform: uppercase;
  }
  .mobile-menu ul {
    background: rgba(255,255,255,0);
    height: 0em;
    display: flex;
    display: -webkit-box;
    display: -moz-box;      
    display: -ms-flexbox;
    display: -webkit-flex;
    justify-content: flex-end;
    -webkit-justify-content: flex-end;
    padding-right: 3em;
    padding-top: 0em;
    position: absolute; 
  }
  .mobile-menu li {
    display: inline-block; 
  }

  .mobile-menu a {
    padding: 0.7em 2em 0 1.5em;
    color: #572EE5; 
  }

  .mobile-menu li:hover a {
    color: #5ED7C6;
  }

  .mobile-menu li:active a {
    color: #9CAFC3; 
  }

  .l-line {
    display: none;
  }

  .logo {
    width: 3.6em;
    height: 3.4em;
    font-size: 1.1em;
    margin: 1.12em 0 0.5em 1.3em; 
    padding: 1.4em 0 0 0.7em;
  }

  .hello {
    padding-top: 5em;
    padding-left: 1.3em; 
  }

  .button {
    width: 16em; 
  }

  h1 {
    font-size: 2.2em;
    padding: 0 0.1em 0 0; 
  }

  h1#tablet {  
    display: block;
  }
  
  h1#mobile {  
    display: none;

  }

  h2 {
    font-size: 1.6em;
    padding: 0 0.1em 0 0;
  }

  h3 {
    font-size: 1.1em;
    line-height: 2em;
  }

  h4 {
    font-size: 0.9em;
    letter-spacing: 0.05em;
    line-height: 1.8em;
    padding-top: 0.25em; 
  }

  p {
    font-size: 1.125em;
    line-height: 1.8em;
    margin: 1em 0.3em 0 0; 
  }

  div#ilustration-header { 
    height: 12em;
  }
  
  div#ilustration-header img {
    width: 25em;
  }

  .bg--grey {
    margin-top: 7em;
    padding: 4.5em 0 11em 0;
  }

  .text {
    max-width: 50%;
    min-width: 40%;
    padding-top: 6em;
    padding-right: 1.5em;
    padding-left: 0; 
  }

  .section {
    max-width: 68em;
    display: flex;
    display: -webkit-box;
    display: -moz-box;      
    display: -ms-flexbox;
    display: -webkit-flex;
    flex-flow: row wrap;
    -webkit-flex-flow: row wrap;
    margin-left: auto;
    margin-right: auto; 
  }
  .section div {
    padding-left: 4em; 
  }


  .gallery {
    margin: 2em 0 1em 0;
    width: 100%; 
  }

  .footer {
    margin: 2.5em auto 0 auto; 
    padding: 0 0 3em 0;
    max-width: 70em;
    width: 85%;
  }
  
  .footer-social-icons {
    display: flex;
    display: -webkit-box;
    display: -moz-box;      
    display: -ms-flexbox;
    display: -webkit-flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    -webkit-align-items: center;
    max-width: 70em;
    margin: 0 auto 0 auto; 
  }  
  .social-icons {
    width: 5.5em;
    justify-content: space-between;
    align-content: center;
    margin: 0 auto 0 1.1em;
  }

  /*GALLERY*/


.carousel {
  position: relative;
  width: 85%;
  max-width: 70em;
  height: 17.1em;
  margin: auto;
  margin-top: 3.3em;
}

.carousel__images {
  width: 100%;
  height: 100%;
  object-fit: cover; 
}
.carousel__slide {
  width: 357px;
}

.carousel__track-container {
  height: 100%;
  position: relative;
  overflow: hidden;
}

.carousel__nav {
  display: flex;
  justify-content: center;
  padding: 0.8em 0;
}

/* BUSQUEDA IMAGENES */

.grid__search {
  margin: auto;
  margin-top: 2.5em;
  padding-left: 0.7em;
  padding-right: 0.7em;
  max-width: 70em;
}

.grid__image {
  max-width: 25%;
  height: 200px;
  padding: 0.7em 0.4em 0.7em 0.4em;
  margin-bottom: 0.7em;
  cursor: pointer;
}

.grid__image #image {
  height: 200px;
}

.mygifos {
  height: 200px;
}

.grid__image .overlay {
  height: 200px;
  transform: translateY(-200px);
  top: -5px;
  position: relative;
}
}

